<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="10">

    <parameter name="browserType" value="chrome" />
    <parameter name="appURL" value="https://www.sangam.com" />
    <test name="Assignment">
        <classes>
            <class name="testcases.HomePageTests"/>
            <class name="testcases.ValidateDataHomePageTests"/>
            <class name="testcases.RegistrationPageTests"/>
        </classes>
    </test>
</suite>